
h2 {
 margin: 20px;
}

#emptyOrders p:first-of-type {
  margin-left: 20px;
  font-size:large;
  color:red
}

#emptyOrders p:nth-of-type(2) {
  margin-left: 20px;
}

table {
  margin: 20px;
}

th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px;
  text-align: right
}

th {
  text-align: center
}

#back {
  border: none;
  background-color: white;
  margin-left: 20px;
  padding: 0px;
}

table tr:first-child {
  background-color: #f1f1f1;
}
