<h2>Purchased Items</h2>
<div id="content">
  <div id="contentTitle">
    <p>Item</p>
    <p>Feedback</p>
  </div>
  <div id="item" *ngFor="let item of orderitems">
    {{item.amount}}x
    {{item.title}}
    <span *ngIf="item.gotrated == false">
      <button id="like" (click)="likeItem(item); item.gotrated=true"><img src="/assets/thumbs-up.png" width="30" height="30"></button>
      <button id="dislike" (click)="dislikeItem(item); item.gotrated=true"><img src="/assets/thumbs-down.png" width="30" height="30"></button>
    </span>
    <span id="gotRated" *ngIf="item.gotrated == true">
      Feedback recieved!
    </span>
</div>
</div>
<button id="back" (click)="goBack()"><img src="/assets/left-arrow.png" width="40" height="40"></button>
