<div *ngIf="localStorageItem().length;">
  <h2>Shopping Cart</h2>
  <div id='content'>
    <div id='item' *ngFor='let item of localStorageItem();'>
      {{item.amount}}x
      {{item.title}}
      ({{(item.price * item.amount) | number:'1.2-2'}}€)
      <span>
        <button (click)="shoppingCardService.removeItem(item)">-</button>
        <button (click)="shoppingCardService.addItem(item)">+</button>
      </span>
    </div>
    <hr />
    <p>Total: {{totalAmount | number:'1.2-2'}}€</p>
  </div>
  <br/>
  <button id='back' (click)="goBack()"><img src="/assets/left-arrow.png" width="40" height="40"></button>
  <button id="submitButton" (click)="submitOrder()">Submit Order</button>
</div>


