<h2>Shopping Cart</h2>
<div id="emptyCart" *ngIf="localStorageItem().length == 0">
  <p>No items in cart.</p>
  <p>Add some items from the "Order Items" tab to continue with your purchase.</p>
</div>

<div *ngIf="localStorageItem().length;">
  <div id='content'>
    <div id='item' *ngFor='let item of localStorageItem();'>
      {{item.amount}}x
      {{item.title}}
      ({{(item.price * item.amount) | number:'1.2-2'}}€)
      <span>
        <button (click)="shoppingCardService.removeItem(item)">-</button>
        <button (click)="shoppingCardService.addItem(item)">+</button>
      </span>
    </div>
    <hr />
    <p>Total: {{totalAmount | number:'1.2-2'}}€</p>
  </div>
  <br />
</div>
<div id="buttons">
  <button id='back' (click)="goBack()"><img src="/assets/left-arrow.png" width="40" height="40"></button>
  <button id="submitButton" *ngIf="localStorageItem().length;" (click)="submitOrder()">Submit Order</button>
</div>

