
#content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

#topSeller {
  position: absolute;
  top: 0;
  right: 0;
}



.dishes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}
.dishes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.dishes li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.dishes li.selected {
  background-color: black;
  color: white;
}
.dishes li.selected:hover {
  background-color: #505050;
  color: white;
}
.dishes li.selected:active {
  background-color: black;
  color: white;
}
.dishes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

table {
  margin: 20px;
}

th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  text-align: center
}

td:first-of-type {
  text-align:right;
}

th {
  text-align: center
}

@media only screen and (max-width: 1000px) {
  #content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 350px;
  }
  #topSeller {
    position: static;
  }

  .dishes {
    margin-bottom: 100px;
  }
}


